.header-inner{
	font-size: 16px;
	color: rgb(219, 146, 10);
	height: 60px;

	#headerNav{
		margin-left: 23px;
		margin: 0 auto;
		width:700px;

		a:link, a:visited, a:hover{
			text-decoration: none;
			color:inherit; 
			cursor:pointer;
		}

		#logoWrapper{
		float: left;
			
			#logoHeader{
			margin-top:0px;
	
				#navLogoImage{
				max-width: 40px;
				max-height: 40px;
				
				}
			}
		} 

		.navigation{
			.navigation-item ul, .navigation-item{
				list-style-type: none;
				padding:0px;
			}

			.navigation-item {
			position: relative;

				.navigation-dropdown{
    				display: none;
    				background: #F7F7F7;
    				border: 1px solid rgba( 0, 0, 0, 0.1 );
    				border-radius: 3px;
    				position: absolute;
    				width: 100px;
    				left:-20px;
    				margin:0px;
    				padding:10px;

    			
    				.navigation-dropdown-item{
    					list-style: none;
    					padding: 5px 10px;
					}
				}

				.navigation-link {
					margin-bottom:20px;
				}
			}
		}

		.navigation, .collection, #logoWrapper{
			float: left;
			margin-right:15px;
			margin-left:15px;
			margin-top:10px;
		}

		#logoWrapper{
			margin-top:0px;
		}
	}
}








.navigation__dropdown--open {
    display: block;
}

