h2 {
	margin-top: 10px;
	color: #fc7c1a;
	font-size: 26px;
}

hr {
	clear: both;
}

.hide-btn {
	background: url('/icon/back.png');
	/*background-size: 90px;*/
	width: 48px;
	height: 48px;
	border: 0px;
	border-radius: 50%;
}

.edit-btn {
	float: right;
	background: url('/icon/edit.png');
	/*background-size: 90px;*/
	width: 48px;
	height: 48px;
	border: 0px;
	border-radius: 50%;	
}

.control-panel {
	float: left;
	width: 5%;
}

#display-area {
	float: left;
	padding-top: 40px;
	padding-right: 5%;
	width: 95%;
}

/* For star section */
.star-section > h2 {
	float: left;
}

.star-section #review-star {
	float: left;
}

.star-section #review-star {
	background-image: url('/icon/rating_stars.png');
	/*float: left;*/
  	width: 200px;
  	height: 40px;
  	/*position: relative;*/
  	top: 2px;
}

.star-score {
	clear: both;
	font-size: 22px;
	color: #4a4a4a;
}


/* For review text section */
.single-review > .review-icon {
	float: left;
}

.review-icon > #reviewer-icon {
	width:70px;
	height:70px;
	border-radius: 50%;
}

.single-review > .review-text {
	margin-left: 10%;
}

.single-review > .review-date {
	clear: both;
	float: right;
	font-size: 11px;
	margin-bottom: 10px;
}

#review-box > hr {
	clear: both;
}


/* For setting nav section */
.setting-left-column {
	float: left;
	width: 50%;
	padding-right: 10px;
}

.setting-right-column {
	float: right;
	width: 50%;
	padding-left: 10px;
}

.photo {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	max-height: 450px;
}

.info-title {
	clear: both;
}

.info-section {
	clear: both;
}

.info-panel {

}

.info-section-part1 {
	float: left;
}

.info-section-part2 {
	float: left;
	padding-left: 30%;
}

.info-section-part3 {
	clear: both;
}

.info-title-text {
	float: left;
}

.info-item {
	clear: both;
	font-size: 15px;
}

.item-title {
	float: left;
}
.info-text {
	float: left;
  	padding-left: 120px;
  	position: absolute;
}

#setting-edit-form {
	padding: 30px;
  	background-color: rgb(239, 239, 239);
}

.form-record {
	clear: both;
	padding-bottom: 40px;
}

.form-label {
	float: left;
}

.input-container {
	float: left;
  	padding-left: 140px;
  	position: absolute;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.text-input {
	width: 100%;
}
