body{
	background-color: #363636;
	color: #f2ba1e;
}

.form-wrapper {
	position: relative;
	width: 800px;
	margin: 0 auto;
	
	.form-body {
		.form-nav {
			width: 140px;
			display: inline-block;
			margin: 5px 10px 0 0;
			
			.form-step {
				height: 300px;
				border-radius: 4px;
				margin: 10px 0;
			
				
				.step-title {
					font-weight: bold;
					font-size: 60px;
				}
			}
		}
		
		.form-content {
			width: 580px;
			display: inline-block;
			margin-top: 15px;
			font-size: 18px;
			
			.form-record {	
				margin: 25px 0;
				
				.form-label {
					display: inline-block;
					width: 20%;
					text-align: right;
					margin-right: 20px;
				}
				
				.input-container {
					display: inline-block;
					width: 70%;

					.upload {
						background-color: #363636;
						font-size: 13px;
						border-color: #d5d4d4;
					}

					.showup-text-occupation {
						width: 220px;
						height: 30px;
  						margin-left: 20px;
					}
				}
				
				input[type="text"], select {
					border: 1 #949393;
					border-width: 1px; 
					color: #ffffff;
					width: 375px;
					height: 40px;
					background-color: #363636;
				}
				
				select {
					font-size: 16px;
				}
			}
			
			.button-container {
				margin-top: 50px;
				display: inline;
				button{
					border: 0;
					padding: 0;
					cursor: pointer;
					font-size: 120%;
					line-height: 2.5;
					width: 200px;
					height: 60px;
					border-radius: 50px;
					border-color: #f2ba1e;
					color: #f2ba1e;
					background-color: #363636;
					border-style: solid;
					border-width: 3px;
				}
				.btn-next{
					position: absolute;
					left: 50%;
					right: 50%;
				}
				.btn-previous{
					position: absolute;
					left: 37%;
				}
				.btn-submit{
					position: absolute;
					left: 70%;
				}
			}

			textarea {
				color: #d5d4d4;
				border-color: #d5d4d4;
				background-color: #363636;
			}



		}
		
		.v-middle {
			vertical-align: middle;
		}
		
		.v-top {
			vertical-align: top;
		}
	}
}