h2 {
	margin-bottom: 18px;
}

#guide-listing > hr {
	clear: both;
	height: 1px;
	background: #d9d9d9;
	width: 60%;
	float: left;
}

#content {
/*padding-right: 250px;
padding-left: 250px;*/
margin-right: auto;
margin-left: auto;
width: 1000px;
max-width: 1000px;
/*position: relative;*/
}

.guide-name {
	font-weight: 300;
	color: #555555;
	font-size: 30px;
	background: #28bcdc;
	color: white;
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	position: absolute;
	margin-left: -10px;
	margin-top: -50px;
}

.guide-tag {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #555555;
	background: #54544e;
	display: inline-block;
	color: #ffffff;
}

.guide-tag .guide-tag-text {
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
}

.guide-car-title {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 8px;
}

.left-column {
	float: left;
	clear: left;
	width: 55%;

}

.right-column {
	float: right;
	width: 35%;
}

.photo {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	max-height: 250px;
}

.photo-album-title {
	padding-top: 40px;
  	padding-bottom: 10px;
  	font-size: 15px;
  	text-align: center;
}

#guide-photo-panel {
	position: relative;
}

#guide-photo-life-panel .photo {
	border-color: rgb(239, 239, 239);
  	border-style: solid;
  	border-width: 7px;
}

.photo-navigation {
	position: absolute;
	top: 50%;
	margin-top: -28px;
	width: 100%;
	height: 56px;
}

.photo-navigation a.previous {
	left: 0;
	position: absolute;
	width: 40px;
	height: 56px;
	opacity: 0.8;
	background: url('/img/arrows.png') 0 0 no-repeat;
}

.photo-navigation a.next {
	right: 0;
	position: absolute;
	width: 40px;
	height: 56px;
	opacity: 0.8;
	background: url('/img/arrows.png') 0 0 no-repeat;
	background-position: -40px 0;
}


#reservation-panel {
	border-radius: 2px;
	background-color: #54544e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px 20px;
}

#reservation-panel .rates {
	color: white;
}


#reservation-panel #reservation-tool .reserve-button {
	display: block;
}

#reservation-panel #in-mail .reserve-button {
	display: block;
}

.button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block;
	background: #e8e8e8;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	border-bottom-color: #dbdbdb;
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	line-height: 1em;
	padding: 7px 15px 8px 15px;
	text-align: center;
	margin: 0px 0 0px 0;
	cursor: pointer;
	color: #303030;
	position: relative;
}

.button.green {
	background: #7fbf4d;
	border-radius: 2px;
	border: 1px solid #7fbf4d;
	border-bottom-color: #72b240;
	color: #ffffff;
}

#guide-listing h2 {
	margin-top: 10px;
	color: #fc7c1a;
	font-size: 26px;
}


/* For guide info grid use */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	font-size: 15px;
	display: block;
	float:left;
	margin: 1% 0 1% 6%;
	text-align: center;
	text-shadow: 0 0 0 #FFF;
	background: #FAFAFA;
	border: 1px solid #F2F2F2;
	border-bottom-color: #EFEFEF;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 64.66%; }
.span_1_of_3 { width: 29.33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/* For Review Section */
.single-review > .review-icon {
	float: left;
}

.review-icon > #reviewer-icon {
	width:70px;
	height:70px;
	border-radius: 50%;
}

.single-review > .review-text {
	margin-left: 20%;
}

.single-review > .review-date {
	clear: both;
	float: right;
	font-size: 11px;
	margin-bottom: 10px;
}

#review-box > hr {
	clear: both;
}

