body{
	background-color: #363636;
	color: #f2ba1e;
	
	* {
		outline: none !important;
	}
}

.form-wrapper {
	position: relative;
	width: 800px;
	margin: 36px auto;
	
	.form-body {
		.form-nav {
			width: 140px;
			display: inline-block;
			margin: 5px 10px 0 0;
			
			.form-step {
				border-radius: 4px;
				margin: 10px 0;
				
				.step-title {
					font-weight: bold;
					font-size: 60px;
					
					&.lower {
						margin-top: -16px;
					}
				}
			}
		}
		
		.form-content {
			width: 580px;
			display: inline-block;
			margin-top: 15px;
			font-size: 18px;
			
			.form-record {	
				margin: 25px 0;
				
				.form-label {
					display: inline-block;
					width: 20%;
					text-align: right;
					margin-right: 20px;
				}
				
				.input-container {
					display: inline-block;
					width: 70%;

					.upload {
						background-color: #363636;
						font-size: 13px;
						border-color: #d5d4d4;
					}

					.showup-text-occupation {
						width: 220px;
						height: 30px;
  						margin-left: 20px;
					}
				}
				
				input[type="text"], select {
					border: 1px #949393 solid;
					color: #ffffff;
					width: 375px;
					height: 40px;
					background-color: #363636;
				}
				
				select {
					font-size: 16px;
				}
			}
			
			.button-container {
				margin-top: 20px;
				margin-bottom: 40px;
				display: inline;
				position: absolute;
				left: 50%;
				
				button{
					border: 0;
					padding: 0;
					cursor: pointer;
					font-size: 120%;
					line-height: 2.5;
					width: 200px;
					height: 60px;
					border-radius: 50px;
					border-color: #f2ba1e;
					color: #f2ba1e;
					background-color: #363636;
					border-style: solid;
					border-width: 3px;
					margin-right: 70px;
				}
				
				&.one-btn {
					margin-left: -135px;
				}
				
				&.two-btn {
					margin-left: -272px;
				}
			}
			
			.submit-notice {
				font-size: 42px;
				margin-top: 20px;
				margin-bottom: 40px;
				display: none;
				position: absolute;
				left: 50%;
				margin-left: -80px;
			}

			textarea {
				color: #ffffff;
				border: 1px #d5d4d4 solid;
				background-color: #363636;
				
				&:focus {
					border: 1px #f2ba1e solid;
				}
			}
			
		}
		
		.v-middle {
			vertical-align: middle;
		}
		
		.v-top {
			vertical-align: top;
		}
	}
}