#guide-listing > hr {
	clear: both;
	height: 1px;
	background: #d9d9d9;
	width: 60%;
	float: left;
}

#content {
	/*padding-right: 250px;
	padding-left: 250px;*/
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	max-width: 1000px;
	/*position: relative;*/
}

.guide-name {
	font-weight: 300;
	color: #555555;
	font-size: 30px;
	background: #28bcdc;
	color: white;
	display: inline-block;
	/*padding-top: 5px;*/
	padding-right: 15px;
	/*padding-bottom: 5px;*/
	padding-left: 15px;
	position: relative;
	margin-left: -10px;
	margin-top: -50px;
}

.left-column {
	float: left;
	clear: left;
	width: 55%;
	padding-bottom: 20px;

}

.right-column {
	float: right;
	clear: right;
	width: 35%;
	padding-top: 20px;
	padding-bottom: 20px;

}

.avatar {
	max-width: 100%;
	max-height: 100%;
}

#reservation-panel {
	border-radius: 2px;
	background-color: #54544e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px 20px;
}

#reservation-panel .rates {
	color: white;
}


#reservation-panel #reservation-tool .reserve-button {
	display: block;
}

#reservation-panel #in-mail .reserve-button {
	display: block;
}

.button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: inline-block;
	background: #e8e8e8;
	border-radius: 2px;
	border: 1px solid #e8e8e8;
	border-bottom-color: #dbdbdb;
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	line-height: 1em;
	padding: 7px 15px 8px 15px;
	text-align: center;
	margin: 0px 0 0px 0;
	cursor: pointer;
	color: #303030;
	position: relative;
}

.button.green {
	background: #7fbf4d;
	border-radius: 2px;
	border: 1px solid #7fbf4d;
	border-bottom-color: #72b240;
	color: #ffffff;
}

#guide-listing h2 {
	margin-top: 10px;
	color: #fc7c1a;
	font-size: 26px;
}
