body{
	font-family: "Microsoft YaHei" !important;
	background-color: #363636;
}

#page {
	margin: 36px auto;
	width: 990px;
}

#title{
	font-weight: bold;
	font-size: 60px;
	width: 180px;
	color: #f2ba1e;
	margin-top: 18px;
	display: inline-block;
	vertical-align: top;
}

#content{
	width: 800px;
    overflow: hidden;
    font-size: 18px;
	display: inline-block;
	vertical-align: top;
}

.question{
	color: #f2ba1e;
}

.answer{
	color: #ffffff;
}

li{
	margin-bottom: 40px;
}

.next-btn {
	cursor: pointer;
	font-size: 150%;
	line-height: 2.5;
	width: 180px;
	border-radius: 50px;
	border-color: #f2ba1e;
	color: #f2ba1e;
	background-color: #363636;
	border-style: solid;
	border-width: 3px;
	position: relative;
	left: 50%;
	margin-left: -90px;
	outline: none !important;
}