<!-- Created by Hongda Jiang -->
<!-- 	4-19-2015 	test	-->
<!DOCTYPE html>
<html>
    <head>
        <title>Search Result</title>
        <link rel='stylesheet' href='/style/guide_list.css'>
        <link rel="stylesheet" href="style/bootstrap.min.css">
		<link rel="stylesheet" href="/style/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="/style/common.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-datepicker.min.js"></script>
		<script src="/js/navbar.js"></script>
        </head>
        <body>
            <% include parts/nav %>
            <div id='content'>
                <div id='filter_bar'>
                    <form id='filter_form' method="GET" action="/guidelist">
                        <div class='option_wrapper_vertical'>
                            <p class='option'>
                            <img src='../img/icons/drive.png'>
                            Driving Guide
                            <input type='checkbox' class='filter_checkbox' name='drive' value="true">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/airport_pickup.png'>
                            Airport Pickup
                            <input type='checkbox' class='filter_checkbox' name='pickup' value="true">
                            </p>
                        </div>
                        <div class='option_wrapper_vertical'>
                            <p class='option'>
                            <img src='../img/icons/student.png'>
                            Student
                            <input type='checkbox' class='filter_checkbox' name='occupation' value="学生">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/professional.png'>
                            Young Professional
                            <input type='checkbox' class='filter_checkbox' name='occupation' value="在职">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/people.png'>
                            Foreigner
                            <input type='checkbox' class='filter_checkbox' name='occupation' value="外国人">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            Cantonese
                            <input type='checkbox' class='filter_checkbox' name='cantonese' value="0">
                            </p>
                            <p class='option'>
                            Min Nan Yu
                            <input type='checkbox' class='filter_checkbox' name='min_nan_yu' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            Gentlemen
                            <input type='checkbox' class='filter_checkbox' name='male' value="0">
                            </p>
                            <p class='option'>
                            Lady
                            <input type='checkbox' class='filter_checkbox' name='female' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            70s'
                            <input type='checkbox' class='filter_checkbox' name='70s' value="0">
                            </p>
                            <p class='option'>
                            80s'
                            <input type='checkbox' class='filter_checkbox' name='80s' value="0">
                            </p>
                            <p class='option'>
                            90s'
                            <input type='checkbox' class='filter_checkbox' name='90s' value="0">
                            </p>
                        </div>
	                    <button type="submit" id='filter_update' class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
			<% include guide_list_page/list %>
        </body>
    </html>