<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/style/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/style/simple-sidebar.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico">
    <link href="/style/guide_dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/bootstrap-datepicker.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/guide_dashboard.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/navbar.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <% include parts/nav %>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p style="color: rgb(186, 186, 186);">
                        Guide Dashboard
                    <p>
                </li>
                <li>
                    <a id="nav-request" href="#" data-active-tab="upcoming-trips">Requests</a>
                </li>
                <li>
                    <a id="nav-review" href="#">Reviews</a>
                </li>
                <li>
                    <a id="nav-setting" href="#">Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
						<% if (guide) { %>
                        <input id="guide-id" type="hidden" value="<%= guide._id %>"></input>
						<% } %>
						<input id="user-id" type="hidden" value="<%= user._id %>"></input>
                        <div class="control-panel">
                            <a class="btn btn-default hide-btn" id="menu-toggle"></a>
                        </div>
                        <div id="display-area">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
	
	<div class="modal fade" id="review-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<span class="modal-title">Write Your Review</span>
					<button class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span>Review:</span>
					<textarea id="review_text" rows="5" cols="50" required></textarea>
					<br /><br />
					Rating: (Integer Range -> 0 ~ 5)
					<input type="number" id="rating" required min="1" max="5">
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" id="btn-submit-review">Submit</button>
				</div>
			</div>
		</div>
	</div>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
