<!DOCTYPE html>
<html>
	<head>
		<title>旅橙网</title>
		<link rel="stylesheet" href="/style/bootstrap.min.css">
		<link rel="stylesheet" href="/style/common.css">
		<link rel="stylesheet" href="/style/index.css">
		<link rel="stylesheet" href="/style/bootstrap-datepicker.min.css">
		<link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico">
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-datepicker.min.js"></script>
		<script src="/js/navbar.js"></script>
	</head>
	<body>
		<% include parts/nav %>
		<div id="map">
			<div class="backdrop"></div>
			<div class="location" id="newyork">
				<div class="city-name big-font">纽约</div>
			</div>
			<div class="location" id="phily">
				<div class="city-name big-font">费城</div>
			</div>
			<div class="location" id="dc">
				<div class="city-name mid-font">华盛顿</div>
			</div>
			<div class="location" id="boston">
				<div class="city-name mid-font">波士顿</div>
			</div>
			<div class="location" id="pittsburgh">
				<div class="city-name mid-font">匹兹堡</div>
			</div>
			<div class="location" id="miami">
				<div class="city-name mid-font">迈阿密</div>
			</div>
		</div>
	</body>
</html>