<!DOCTYPE html>
<html>
    <head>
        <title>Place Page</title>
        <!-- Just for nav bar, some may be useless ??? -->
        <link rel="stylesheet" href="/style/bootstrap.min.css">
        <link rel="stylesheet" href="/style/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/navbar.js"></script>

        <!-- For place page -->
        <link rel="stylesheet" href="/style/place_page.css">
        <script src="/js/placepage.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <div class="navbar-brand">旅橙网</div>
            </div>
            <div id="login-control">
                <button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#signup-modal">注册</button>
                <button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#login-modal">登陆</button>
            </div>
            <ul id="user-control" class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <span id="user-display"></span>
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="page">
            <div id="content">
                <h1><%=place.name %></h1>
                <p><%=place.intro_short %></p>
            </div>
        </div>
    </body>
</html>