<!DOCTYPE html>
<html>
	<head>
	<title>Q&A</title>
	<link rel="stylesheet" href="/style/q_a.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>
		$(function(){
			$('#apply_guide').click(function() {
				$(location).attr('href','./guide_apply');
			});
		});
	</script>
	</head>
	<body>
		<div id = "page">
			<div id = "title">Q & A</div>
			<div id = "content">
				<ul style="list-style-type: none">
				  <li>
				  	<p class="question">1. 我做当地向导的时间可能不固定，或者最近没空是否可以申请呢？</p>
				  	<p class="answer">可以，因为来美国玩儿的顾客可不能说走就走，大家都办过VISA知道这是一个time consuming 的事儿，很多人是提前2、3个月就开始和我们预定，所以只要你对旅行感兴趣，旅橙欢迎你的加入。</p>
				  </li>
				  <li>
				  	<p class="question">2. 对当地向导的要求，对语言是否有要求?</p>
				  	<p class="answer">服务对象都是中国人，只要能做到基本翻译即可。你的学历+你的主场=没问题。</p>
				  </li>
				  <li>
				  	<p class="question">3. 可以不填表格吗？到时候你们直接来找我就行？</p>
				  	<p class="answer">不行，我们要帮你在home page上制作个人信息栏。</p>
				  </li>
				  <li>
				  	<p class="question">4. 费用怎么结算?</p>
				  	<p class="answer">当日行程顺利完成或者线路设计成功交付后，旅橙会在两个工作日内支付你报酬。</p>
				  </li>
				  <li>
				  	<p class="question">5. 当地向导具体要做的事情或工作量是否繁重?</p>
				  	<p class="answer">具体行程根据你们和客人的具体协商为准，有任何问题随时可以和我们联系。</p>
				  </li>
				  <li>
				  	<p class="question">6. 提交完表格后还需要做什么?</p>
				  	<p class="answer">请耐心等待，HR部门的同事会在第一时间联系你完成相关入职手续。</p>
				  </li>
				</ul>
			</div>
			<button class="next-btn" id="apply_guide" type="button">立刻加入</button>
		</div>
	</body>
</html>