<!DOCTYPE html>
<html>
	<head>
	<title>旅橙向导注册</title>
	<link rel="shortcut icon" type="image/x-icon" href="/icon/favicon.ico">
	<style>
	body{
		background-color: #363636;
		color: #f2ba1e;
	}
	#info {
	    font-size: 32px;
	    top: 200px;
	    position: relative;
	    margin: 0 auto;
	    width: 800px;
	    text-align: center;
	}
	a {
		color: white;
	}
	</style>
	</head>
	<body>
		<div id="info">
			向导注册已经完成，欢迎加入旅橙大家庭!<br />
			请<a href="http://lvcheng.us">点击此处</a>返回旅橙首页。
		</div>
	</body>
</html>