<!DOCTYPE html>
<html>
    <head>
        <title>Lvcheng.us</title>
        <link rel="stylesheet" href="/style/bootstrap.min.css">
        <link href="/style/lvcheng/about.css" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
    </head>
    <body class="body">
       <div class="content">
            <div class="title">
                <p id="name">旅橙</p>
                <p id="slogan">我的地盘你做主</p>
            </div>
            <div class="description">
                <p id="p1">旅橙是一个由来自NYU、Columbia、Parsons、Fordham、Hofstra的留学生所创立的新锐旅行公司。旅橙从设计师、程序员到产品研发、项目运营，再到向导，全部都是在美的留学生。我们觉得旅行不该是走马观花、到此一游，而应该深入体会原汁原味的当地文化，品尝最地道的特色小吃，和当地人交流并在陌生的城市交到新的朋友。 “让留学生带你游美国”是旅橙的宗旨，让我们为您提供一站式的服务，从帮您选择目的地开始，到送上飞机安全返航为止；我们想用我们自己的知识与热情扮演中美文化交流使者的角色，为您的旅行提供另外一种选择。</p>
                <p id="p2">Smarttraveller Inc. is a tourist company founded by international students from New York University, Parsons New School of Design, Fordham University and Hofstra University. From soft engineer, designer, operator to tour guide, they are all college and graduate students studying/studied in the United States. Our mission is to give Chinese students abroad a brand new idea about travel itself and help them get involved into the American society as soon as they come here. In our perspective, travel is not only to see beautiful sights but to have fun, for instance, to harvest special cultural experience to have deep communication with native people, and taste the world famous local food. Moreover, we are working to help bridge China and the United States in cultural communication.</p>
                <p id="p3">“走一段旅橙，讲一段故事”</p>
                <p id="p4">当最初和朋友们聊到“改变人们旅行方式”这个不接地气的梦想的时候，被各种吐槽too young, too naïve. 唯独两个程序猿和一个marketer各种鼓励，“这是一个互联网的时代” “旅行让生活更美好”，“O2O的模式是取胜金匙”……“鼓励”，“安利”？傻傻分不清楚，总之我，Hongda，Alex, Angel四个founder联手成立了旅橙。说来辛酸，最开始四个人的办公、会面地点居然是K town的各种咖啡馆。纽约中城的各种咖啡馆在何时比较清静，哪一个有WIFI我们绝对门清。</p>
                <p id="p5">但不断鼓励我们向前的却是这个时代，它给年轻人尝试的机会。毕业前夕当我和教授聊到创业的时候，得到了很多正面的回馈，“Go for it!”很多教授常挂在嘴边的一句话。这句话背后绝不是敷衍的心灵鸡汤。无论是法律、税务还是公司注册等环节，我都得到了母校Hofstra商学院细致入微的帮助，一个中国留学生在苹果城创业，一个看似“不靠谱”的梦想竟渐渐“靠谱”起来了。还要感谢投资人对我们的宽容，让我们没有过早背上盈利的压力，可以放开手脚做自己喜欢的事情。最后要感谢的是这么多志同道合的人，他们从来不提薪酬待遇的事儿，让我这个创业公司的老板连“饼”都不用画。如今我们的旅橙大家庭已经有30位成员啦~他们遍布北美，从纽约到波士顿，从DC到费城，从佛州到加州，甚至远到加拿大，在中国的office也要马上开张啦！猛然间竟有了一种跨国公司的“国际范儿~”，让人感觉晕乎乎的。大家都是有梦想并且热爱旅行的年轻人这一点不假，从一个侧面我也看出大家是对现如今的旅行市场有多！么！的！不！满！又有多想改变这个市场。然而连“饼”都不画的老板毕竟不是一个好老板，我更期望看到的是把美金一叠一叠的发到员工手里，为此我正在努力。</p>
                <p id="p6">现实情况却是严峻的，如何盈利？如何让公司生存下去？这两个问题是每天早上醒来我都会问自己的。“放下身段接地气”，是我给旅橙的答案。虽然我们会从最辛苦和以前我们并不愿意做的事情做起，但我们清楚地知道生活不仅有苟且还有远方，总有一天我们会实现我们的梦想。</p>
            </div>
       </div>
       <div class="button-links">
            <button type="button">返回首页</button>
            <button type="button">加入我们</button>
            <button type="button">联系我们</button>
       </div>
    </body>
</html>