<!DOCTYPE html>
<html>
    <head>
        <title>Lvcheng.us</title>
        <script src="/js/main.js"></script>
        <link href="/style/lvcheng/common.css" rel="stylesheet">
        <link href="/style/lvcheng/header.css" rel="stylesheet">
        <link href="/style/lvcheng/footer.css" rel="stylesheet">
        <link href="/style/lvcheng/custom/guided_tour.css" rel="stylesheet">
    </head>
    <body>
        <% include parts/header %>
        <div id="img-title">
            <img src="<%= titleImg %>" />
        </div>
        <div id="main-content">
            
                <%- tourHTML %>

        </div>
        <% include parts/footer %>
    </body>
</html>