<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/react/build/navBar.js"></script>
    </head>
    <body>
        <% include parts/header %>
    </body>
</html>