<!DOCTYPE html>
<html>
    <head>
        <title>Lvcheng.us</title>
        <script src="/js/main.js"></script>
        <link href="/style/lvcheng/header.css" rel="stylesheet">
        <link href="/style/lvcheng/join.css" rel="stylesheet">
        <link href="/style/lvcheng/footer.css" rel="stylesheet">
    </head>
    <body>
        <% include parts/header %>
        <div class="wrapper">
            <div class="cover">
                <div class="shadow">
                    <div class="content">
                        <p id="p1">快来加入旅橙吧</p>
                        <p id="p2">我的地盘你做主</p>
                        <button class="btn">申请成为TOUR GUIDE</button>
                    </div>
                </div>
            </div>
            <div class="content1">
                <div id="weare">
                    <p class="p3">我们是</p>
                    <p class="p4">热爱旅行的城市形象大使，是土著，是留学生</p>
                    <p class="p4">来自NYU, PARONS, HOFSTRA的留学生创业团队</p>
                    <p class="p4">让你实现任何疯狂的idea，做你喜欢的事情的平台</p>
                </div>
                <div id="wearenot">
                    <p class="p3">我们不是</p>
                    <p class="p4">走马观花，景点拍照的旅行团</p>
                    <p class="p4">消耗大量时间成本的攻略网站</p>
                    <p class="p4">背书，收小费，带购物的坑爹导游</p>
                </div>
            </div>
            <div class="content2">
                <div class="shadow">
                    <p id="p5">旅橙需要你</p>
                    <div class="left">
                        <p>热爱旅行，在北美有丰富的旅行经验</p>
                        <p>喜欢分享，愿意与人打交道</p>
                        <p>有态度，有想法，有责任心</p>
                        <p>如果你满足这些要求请给我们发送简历</p>
                    </div>
                    <div class="right">
                        <p>Part-time / Full-time positions</p>
                        <p>Require working 8h / week minimum </p>
                        <p>Offer OPT / CPT</p>
                        <p>地方向导请另附一份本城市的旅行线路设计方案或者攻略、游记/其他Position Candidates有相关作品或证明的请一并附上</p>
                    </div>
                    <button class="btn">发送简历</button>
                </div>
            </div>
            <div class="tour_guide position">
                <div class="icon">
                    <img src="../../img/joinus/tourGuide.png">
                </div>
                <div class="job-description">
                    <p class="job-title">TOUR GUIDE</p>
                    <ul class="list-left">
                        <li>性质：全职 / 兼职</li>
                        <li>地点：全美</li>
                    </ul>
                    <ul class="list-right">
                        <li>城市游览线路/主题设计安排</li>
                        <li>地方向导</li>
                        <li>客人接待</li>
                    </ul>
                </div>
            </div>
            <div class="editor position">
                <div class="icon">
                    <img src="../../img/joinus/editor.png">
                </div>
                <div class="job-description">
                    <p class="job-title">EDITORS</p>
                    <ul class="list-left">
                        <li>性质：全职 / 兼职</li>
                        <li>地点：全美</li>
                    </ul>
                    <ul class="list-right">
                        <li>编辑公司员工的稿件；</li>
                        <li>根据需要向旅行达人约稿；</li>
                        <li>公众平台主题的设定和编辑风格的统一；</li>
                        <li>定期维护、更新公众平台。</li>
                    </ul>
                </div>
            </div>
            <div class="financial position">
                <div class="icon">
                    <img src="../../img/joinus/financial.png">
                </div>
                <div class="job-description">
                    <p class="job-title">FINANCIAL CONSULTANT</p>
                    <ul class="list-left">
                        <li>方向：融资</li>
                    </ul>
                    <ul class="list-right">
                        <li>制定公司融资计划；</li>
                        <li>对于天使投资信息的整合；</li>
                        <li>把握公司整体融资节奏。</li>
                    </ul>
                </div>
            </div>
            <div class="marketing position">
                <div class="icon">
                    <img src="../../img/joinus/mkt.png">
                </div>
                <div class="job-description">
                    <p class="job-title">MAKETING COORDINATOR</p>
                    <ul class="list-left">
                        <li>性质：全职 / 兼职</li>
                        <li>地点：纽约</li>
                    </ul>
                    <ul class="list-right">
                        <li>微博/微信公众账号推广；</li>
                        <li>提升公司账号在穷游网、马蜂窝等论坛的人气；</li>
                        <li>提升公司在留学圈、旅游圈的知名度和影响力；</li>
                        <li>市场推广，宣传公司的旅行产品和项目。</li>
                    </ul>
                </div>
            </div>
            <div class="hr position">
                <div class="icon">
                    <img src="../../img/joinus/hr.png">
                </div>
                <div class="job-description">
                    <p class="job-title">HUMAN RESOURCES COORDINATOR</p>
                    <ul class="list-left">
                        <li>性质：全职 / 兼职</li>
                        <li>地点：纽约</li>
                    </ul>
                    <ul class="list-right">
                        <li>协助HR Manager根据需要为公司招募适合的人才</li>
                        <li>协助处理员工OPT/CPT 相关事宜</li>
                        <li>新员工组培</li>
                        <li>组织公司活动，加强团队建设</li>
                    </ul>
                </div>
            </div>
            <div class="design position">
                <div class="icon">
                    <img src="../../img/joinus/designer.png">
                </div>
                <div class="job-description">
                    <p class="job-title">GRAPHIC DESIGNER</p>
                    <ul class="list-left">
                        <li>性质：全职 / 兼职</li>
                        <li>地点：纽约</li>
                    </ul>
                    <ul class="list-right">
                        <li>海报设计</li>
                        <li>文化衫设计</li>
                        <li>旅行周边产品（例如明信片、玩偶等）设计</li>
                    </ul>
                </div>
            </div>

        </div>




        <% include parts/footer%>
    </body>

</html>