<div id="prefooter">
	<div id="prefooter_blocks">
		<div id="prefooter_content">
			<div id="left-column">
				<p id="qr-code">
					<img src="../../../img/wechat-QR.png">
				</p>
				<p>扫描二维码 关注公众号</p>
			</div>
			<div id="right-column">
				<div id="contact">
					<h3>联系我们</h3>
					<p>电话：347-824-4614</p>
					<p>微信：jasonzhangpride</p>
					<p>邮箱：info@lvcheng.us</p>
				</div>
				<div id="social">
					<span>
						<a href="http://weibo.com/u/1558184117?topnav=1&wvr=6&topsug=1">
							<img src="../../../img/weibologo.png">
						</a>
					</span>
					<span>
						<a href="https://www.facebook.com/lvcheng.us">
							<img src="../../../img/fblogo.png">
						</a>
					</span>
					<span>
						<a href="https://www.linkedin.com/company/6574944?trk=prof-exp-company-name">
							<img src="../../../img/linkedinlogo.png">
						</a>
					</span>
				</div>
			</div>
		</div>
		<div id="prefooter_logo">
			<img src="../../../img/lvchenglogo.png">
		</div>
	</div>

</div>




<div id="footer">
	<div id="secondaryNavigation">
		<div class="index">
			<label>主题活动</label>
		</div>
		<div class="index">
			<label>传统跟团游</label>
		</div>
		<div class="index">
			<label>逍遥自助游</label>
		</div>
		<div class="index">
			<label>地陪定制有</label>
		</div>
		<div class="index">
			<label>加入旅橙</label>
		</div>
	</div>
	<div id="siteInfo">
		<a href="mailto:info@lvcheng.us">
			<p>info@lvcheng.us</p>
		</a>
	</div>
	<div id="co-op">
		<p id="partner-title">合作伙伴</p>
		<p class="partner-logo"><a href="http://www.cafintl.org/">
				<img src="../../../img/partner16.png">
		</a></p>
		<p class="partner-logo"> <a href="http://www.cafintl.org/">
			<img src="../../../img/partner15.png">
		</a></p>
		<p class="partner-logo"><a href="https://www.hofstra.edu/academics/colleges/hclas/asiacenter/asiacenter-chinese-students-association.html">
			<img src="../../../img/partner17.png">
		</a></p>
	</div>



</div>