<div id="header">
    <div id="header-inner">
        <div id="logo-wrapper">
            <img src="img/logo.png"/>
        </div>
        <div id="header-nav" class="navbar">
            <div class="navbar-left">
                <div class="navbar-cell" id="dest-nav-cell">
                    <div class="navbar-cell-title">目的地</div>
                    <div class="navbar-menu">
                        <div class="navbar-menu-item">
                            美东
                        </div>
                        <div class="navbar-menu-item">
                            美西
                        </div>
                        <div class="navbar-menu-item">
                            佛州
                        </div>
                    </div>
                </div>
                <div class="navbar-cell" id="commute-nav-cell">
                    <div class="navbar-cell-title">出行方式</div>
                    <div class="navbar-menu">
                        <div class="navbar-menu-item">
                            传统跟团游
                        </div>
                        <div class="navbar-menu-item">
                            逍遥自驾游
                        </div>
                        <div class="navbar-menu-item">
                            地陪定制游
                        </div>
                    </div>
                </div>
                <div class="navbar-cell" id="strategy-nav-cell">
                    <div class="navbar-cell-title">攻略&amp;游记</div>
                </div>
            </div>
            <div class="navbar-right">
                <div class="navbar-cell" id="about-nav-cell"><div class="navbar-cell-title">关于旅橙</div></div>
                <div class="navbar-cell" id="cotact-nav-cell">
                    <div class="navbar-cell-title">联系我们</div>
                    <div class="navbar-menu">
                        <div class="navbar-menu-item">
                            旅橙简介
                        </div>
                        <div class="navbar-menu-item">
                            旅橙团队
                        </div>
                        <div class="navbar-menu-item">
                            加入我们
                        </div>
                    </div>
                </div>
                <div class="navbar-cell" id="newcomer-nav-cell"><div class="navbar-cell-title">新生入口→</div></div>
            </div>
        </div>
    </div>
</div>