<html>
	<header>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/react/build/navBar.js"></script>
	</header>
	<body>
		<div id="navbar-wrapper"></div>
	</body>
</html>