<!DOCTYPE html>
<html>    

<body>
    <div id="setting-area">
        <h1>Settings</h1>
        <hr>
        <div class="setting-left-column">
            
        </div>
        <div class="setting-right-column">
            
        </div>
        
    </div>
</body>

</html>
